# ============================
# Python
# ============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
uidai_env/
venv/
.env/
.env.bak/

# ============================
# Jupyter / IPython
# ============================
.ipynb_checkpoints/
profile_default/

# ============================
# macOS
# ============================
.DS_Store
.AppleDouble
.LSOverride

# ============================
# Streamlit
# ============================
.streamlit/
*.log


# Model outputs (keep only final CSV if needed)
outputs/tmp/

# ============================
# Reports & Downloads
# ============================
*.pdf
*.png
*.jpg
*.jpeg

# ============================
# IDE / Editor
# ============================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ============================
# System / Misc
# ============================
Thumbs.db

# ============================
notebooks/08_final_analysis_and_conclusion_visuals.ipynb